@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-pulse-on-load {
    animation: fadeInUp 0.8s ease-out;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
